## 연속 데이터 타입

- 타입
    - 연속 데이터 타입 (값을 여러개 들고 있다.)
    
|타입명|기호|특징|
|:---:|---:|:---|
|리스트   |[]| - list()<br>- 순서(index)가 있다.<br>- 값이 중복되도 OK  |
|딕셔너리 |{}| - dict()<br>- 순서 없다.<br>- 키와 값의 세트로 구성<br>- 키는 중복 X  |
|튜플     |()| - tuple()<br>- 리스트와 거의 동일하지만<br>- 수정 및 삭제 불가<br>- readonly(읽기전용)<br>- 값을 단순히 묶는다  |
|집합     |{}| - set()<br>- 중복제거, 순서없음  |

- **향후 접하게 될 연속 데이터 타입**

|타입명|기호|특징|
|:---:|:---|:---|
|배열          |ndarray   |- numpy(수학/과학용)의 타입<br>- 데이터분석 & 머신러닝<br>- 구성원의 타입이 동일해야함|
|시리즈        |Series    |- 1차원 구조 데이터, pandas<br>- 데이터분석 & 머신러닝<br>- 구성원의 타입이 동일해야함|
|데이터 프레임 |DataFrame |- 2차원 구조 데이터, pandas<br>- 데이터분석 & 머신러닝|
|텐서          |Tensor    |- 딥러닝의 자료구조, tensorflow, pyTorch|

### 리스트

In [1]:
# 1. 리스트의 생성 및 기본성질
# 동적 생성 : 공간을 먼저 만들고, 향후 데이터를 동적  추가
a = list()
# 값 자체, 타입, 멤버 수 확인
a, type(a), len(a)

([], list, 0)

In [2]:
# 데이터를 단순하게 넣어서 만드는 것은 가능
# 구조가 복잡한 데이터이면 구성하기 어렵다.
# 좀 더 안전한 방법?
a = list('abcd')
a

['a', 'b', 'c', 'd']

In [3]:
# 정적 생성 : 만들 때 이미 데이터를 넣어서 만든다.
a = []
a, type(a), len(a)

([], list, 0)

In [4]:
# 데이터가 복잡한 구조를 바로 넣으면서 생성하면
a = [
    {
        'code':'USD',
        'price':'1180'
    },
    {
        'code':'EUR',
        'price':'1430'
    },
]
a

[{'code': 'USD', 'price': '1180'}, {'code': 'EUR', 'price': '1430'}]

In [5]:
# 2. 임시 구성
numbers = [ 1,3,5,7,9 ]
numbers, type(numbers), len(numbers)

([1, 3, 5, 7, 9], list, 5)

In [6]:
foods = ['돈가스', '햄버거', '라면']
foods,type(foods), len(foods)

(['돈가스', '햄버거', '라면'], list, 3)

In [7]:
# 멤버의 구성원의 타입이 다르다. -> OK -> 주소만 담기 때문에
# 구성원간의 차원이 달라서 OK
data_mixs = [1,2,3,'햄버거', [3.14, "PNU"]]
data_mixs

[1, 2, 3, '햄버거', [3.14, 'PNU']]

In [8]:
# 2. 리스트 안에 특정 멤버 값을 획득 => 1놈만 획득 => 인덱싱
# 정방향 인덱스는 0부터 출발, 3이라고 쓰면 => 4번째 멤버
data_mixs[3]

'햄버거'

In [9]:
# 역방향 인덱스는 -1부터
data_mixs[-1]

[3.14, 'PNU']

In [10]:
# 5 * 3
len(data_mixs)*3

15

In [11]:
# 2 * 3
len(data_mixs[-1])*3

6

In [12]:
# 3. 슬라이싱
# 변수 [시작인덱스:끝인덱스:step]
numbers

[1, 3, 5, 7, 9]

In [13]:
# 3,5,7만 획득 -> 리스트에서 리스트를 획득
numbers[1:-1]

[3, 5, 7]

In [14]:
# 1,5,9를 획득하시오
# numbers[:] -> 전체를 보고 무엇을 빼야하는지 확인
numbers[::2]

[1, 5, 9]

In [15]:
# 4. 수정 -> 원본 변경
# 1개만 수정
numbers[0]

1

In [16]:
numbers[0] = 100

In [17]:
numbers

[100, 3, 5, 7, 9]

In [18]:
# 여러개 수정, 개수따라 다양하게 변경
numbers[1:-1]

[3, 5, 7]

In [19]:
# 에러가 난다 -> can only assign an iterable
numbers[1:-1] = 50

TypeError: can only assign an iterable

In [20]:
# 연속형 데이터만 대입 가능!!
#기존 데이터는 날라가고, 새로운 데이터가 리스트 형태에 맞춰서 삽입
# 정확하게 계산하지 않으면 의도하지 않은 결과 획득,
# 원본이 훼손되기 때문에 신중하게 처리, 사본떠서 작업

#원본 수정
#numbers[1:-1] = "50"

#사본 수정
numbers[:][1:-1] = "50"

In [21]:
numbers

[100, 3, 5, 7, 9]

In [22]:
# 5. 추가
# +
# .append()
# .extend()

In [23]:
# + => 이어붙이기
a = [1,2,3]
b = [4,5,6]
#리스트 + 리스트는 더해서 사본 리턴, 원본 보존
a,b,a+b,a,b

([1, 2, 3], [4, 5, 6], [1, 2, 3, 4, 5, 6], [1, 2, 3], [4, 5, 6])

In [24]:
a = [1,2,3]# .append() : 추가하기 => 대상 리스트의 멤버로 추가 => 원본 수정
a.append(b)
a

[1, 2, 3, [4, 5, 6]]

In [25]:
a = [1,2,3]

In [26]:
# .extend : 동급으로 추가, 이어 붙인다 => 원본 조작
a.extend(b)
a

[1, 2, 3, 4, 5, 6]

In [27]:
# 6. 삭제

In [28]:
# 파이썬에서 제공하는 삭제법 
del a[0]
a

[2, 3, 4, 5, 6]

In [29]:
del a[:2]
a

[4, 5, 6]

In [30]:
# 모든 요소 제거
a.clear()
a

[]

In [31]:
# a 자체를 없애버림
del a

In [32]:
# error 출력 => name 'a' is not defined
a

NameError: name 'a' is not defined

In [33]:
# 7. 반복문과 같이 처리, 리스트 내포 방식 => 반복문에서 다룬다.

### 딕셔너리

- 딕셔너리의 모습이 타언어에서는
    - Java : Map
    - Javascript : js객체
    - ios : NSDictionary
    - 데이터형식: json
- 호환성이 좋다!! (타언어와 통신으로 연동시)

In [34]:
# 1. 딕셔너리 생성
# 동적 구성, 차후에 데이터가 세팅된다.
dic = dict()
dic, type(dic), len(dic)

({}, dict, 0)

In [35]:
# 정적 구성, 멤버를 직접 셋업하면서 생성하는 방식
dic = {}
dic, type(dic), len(dic)

({}, dict, 0)

In [36]:
# 2. 기본 생성
# 키:값, 키:값, ...
# 키는 함수를 제외하고는 모든 타입이 사용 가능
# 문자열, 수치를 주로 사용
exchanges = {
    "na":"미국",
    "code":"USD",
    "buy":1165.10,
    "sell":1185.48
}
exchanges

{'na': '미국', 'code': 'USD', 'buy': 1165.1, 'sell': 1185.48}

In [37]:
# 3. 인덱싱  => 변수명[ 키 ]
# 키는 특정 데이터를 가리키는 고유 값 <- 중복되면 안된다.
exchanges[ "na" ]

'미국'

In [38]:
# 4. 수정 및 추가
# na라는 키가 없으면 수정, 없으면 추가!!
exchanges[ 'na' ] = 'America'
exchanges

{'na': 'America', 'code': 'USD', 'buy': 1165.1, 'sell': 1185.48}

In [39]:
# 1이라는 키를 만들고 값을 할당한다.
exchanges[ 1 ] = 'EUR'
exchanges

{'na': 'America', 'code': 'USD', 'buy': 1165.1, 'sell': 1185.48, 1: 'EUR'}

In [40]:
# 5. 슬라이싱 -> X : 순서가 없다.

In [41]:
# 6. 형태 및 데이터 확인
# 키만
exchanges.keys()

dict_keys(['na', 'code', 'buy', 'sell', 1])

In [42]:
# 값만
exchanges.values()

dict_values(['America', 'USD', 1165.1, 1185.48, 'EUR'])

In [43]:
# 키,값을 묶어서 => 튜플!! ( 튜플로 구성된 리스트 )
# 리스트로 순서를 가지고 있으나 의미 X => 추가된 순서
exchanges.items()

dict_items([('na', 'America'), ('code', 'USD'), ('buy', 1165.1), ('sell', 1185.48), (1, 'EUR')])

In [44]:
# 이것이 프로그램적으로 더 안정적, 해당 키가 없을 때
exchanges.get("na")

'America'

In [45]:
exchanges.get("nana")

In [46]:
# 에러 발생 -> KeyError: 'nana'
exchanges["nana"]

KeyError: 'nana'

In [47]:
# 7. 삭제
del exchanges[1]

In [48]:
exchanges

{'na': 'America', 'code': 'USD', 'buy': 1165.1, 'sell': 1185.48}

### 튜플

In [49]:
# 1. 튜플 생성
# 동적
tu = tuple()
tu, type(tu), len(tu)

((), tuple, 0)

In [50]:
# 정적
tu = ()
tu, type(tu), len(tu)

((), tuple, 0)

In [51]:
# 2. 기본 데이터 설정 및 생성
# 멤버가 1개이면 반드시 , 붙인다. => 안 붙이면 단일 데이터로 취급
tu = (1,)
tmp = (1) # 의도하지 않은 타입으로 처리된다.
type(tu), type(tmp)

(tuple, int)

In [52]:
tu = (1,2,3,4,5)
tu, type(tu), len(tu)

((1, 2, 3, 4, 5), tuple, 5)

In [53]:
# 값 변경, 데이터 추가, 데이터 삭제 X
# readonly, immutable

In [54]:
# 3.  인덱싱, 슬라이싱 => 리스트와 동일
tu[0], tu[:2]

(1, (1, 2))

In [55]:
# 튜플을 변수로 받기(리스트도 동일), 멤버수와 동일하게
a,b,c,d,e = tu
b

2

In [56]:
# 동일 값이 아니면 에러 -> ValueError: too many values to unpack (expected 4)
a,b,c,d = tu

ValueError: too many values to unpack (expected 4)

In [57]:
# _ 변수인데 안쓰겠다. 더미 처리 (관습적 표현)
a,b,c,d,_ = tu

In [58]:
# 슬라이싱해서 받는다.
a,b,c,d = tu[:4] # == tu[:-1]

In [59]:
a,b,c,d

(1, 2, 3, 4)

In [60]:
# 튜플을 가장 많이 사용하는 곳은 "함수의 리턴 값이 여러 개 일 때"
# 여러 개를 리턴하면 튜플로 반환된다.
def test():
    return 1,3,5

In [61]:
a,b,c = test()

In [62]:
a,b,c

(1, 3, 5)

### 집합
 - 중복 제거 용도 => 타입으로 보기 힘듬
 - { 값, 값, 값, ...}
 - 중간적인 형태 => 결과적으로 리스트 등으로 넘어감

In [63]:
set("helloworld")

{'d', 'e', 'h', 'l', 'o', 'r', 'w'}

In [64]:
a = list(set("helloworld"))
a

['h', 'w', 'r', 'o', 'e', 'l', 'd']

In [65]:
a.sort()
a

['d', 'e', 'h', 'l', 'o', 'r', 'w']

In [66]:
# 합집합, 교집합, 차집합

a = set( [3,5,12,23,2,12,5])
b = set( [1,32,32,12,452,23,23,1,32])
a, b

({2, 3, 5, 12, 23}, {1, 12, 23, 32, 452})

In [67]:
# 합집합
a.union(b)

{1, 2, 3, 5, 12, 23, 32, 452}

In [68]:
# 교집합
a.intersection(b)

{12, 23}

In [69]:
#차집합 (빼는 방향)
a.difference(b), b.difference(a)

({2, 3, 5}, {1, 32, 452})